@font-face {
    font-family: swapnil;
    src: url(./GeneralSans-Regular.otf);
}

*{
    margin: 0;
    padding:0;
    font-family: swapnil;
    box-sizing: border-box;
}
body{
    width: 100%;
   height: 100%;
    
  
}
main{
    width: 100%;
    height: auto;
}
#cursor-dot {
    position: relative;
    width: 10px;
    height: 10px;
    background-color: #fff; /* Set the color of the dot */
    border-radius: 50%;
    pointer-events: none; /* Ensure the dot doesn't interfere with cursor events */
    z-index: 1000; /* Set a high z-index to make sure the dot appears above other elements */
    transition:ease-in-out;
    transition-delay: 0.5ms;
    
}
#hero{
    color: aliceblue;
    width: 100%;
    height: 100vh;
    background-color:#000000;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    width: auto;
    padding: 20px 40px;
    /* background-color: blue; */
    color:#fff;
   
}
nav h1{
    font-size: 19px;
}
a{
    text-decoration: none;
    font-size: 18px;
    font-weight: 200;
    padding-top: 5px;
    padding-left: 9px;
    color: aliceblue;
}
#heading{
    margin-top: 40px;

}
#heading h1{
    margin-left: 30px;
    line-height: 1;
    font-size: 10vw;
    font-weight:900;
    opacity: .6;

}
#heading #secondh1{
    margin-left: 194px;
}
.blocktext{
    width: fit-content;
    
    text-align: right

}
#heading2{
    margin-top: 100px;
    padding-right: 30px;

}
#heading2 h5{
    text-transform: uppercase;
    font-size: 1vw;
    text-align: right;
    line-height: 2.5;
    font-weight:600;

}
#chotafooter{
    /* background-color: aquamarine;     */
    height: 10vh;
    color:#fff;
    width: 100%;
    position: absolute;
    bottom: 3%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-right: 37px;
    gap: 5px;
}
footer a{
    padding-left: 41px;
    text-transform: uppercase;
    font-size: 2vh;
}
#diva{
    text-transform: uppercase;
    width: inherit;
    height: inherit;
}
#diva2{
    text-transform: uppercase;
    width: inherit;
    height: inherit;
}

 .circle{
    box-sizing: border-box;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 50px;
    height: 25px;
    color: #000000;
    /* border: solid 1px; */
    border-radius: 50%;
    background-color: #c8c8c8;

}

#second {
    color: wheat;
    padding-right: 10vw;
    padding-left: 2vw;
    background-color: black;
    width: 100%;
    min-height: 100vh;
    padding-top: 10%;

   
}
      

.elem {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
   
    width: 100%;
    padding: 2vw 1vw;
    border-top: 1px solid #888;
  
   
}
.elem h1{
    opacity: .5;
    text-transform: uppercase;
    font-size: 17vh;
}


.circle:hover{
   cursor: pointer;
}
.elemlast{
    border-bottom: 1px solid white;
}
.elem img{
    height: 140%;
    display: none;
    z-index: 999;
    position: absolute;
   
}
#about{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
    color: #fff;
    padding: 10vw 10vw;
    padding-left: 40vw;
    width: 100%;
    background-color: #000000;
    /* height: auto; */
}
#about img{
    width: 200px;
    height: 5 vh;
}
#textarea h4{
text-transform: uppercase;
opacity: .6;
}
#textarea p{
    width: fit-content;
    line-height: 30px;
    font-weight: 400;
    margin-bottom: 30px;
}
#textarea a{
    padding: 8px 17px;
   border: 1px solid #fff;
   border-radius: 100px;
   color:#fff;
   text-decoration: none;
   transition: background-color 0.7s ease-in-out, color 0.7s ease-in-out;


}
#textarea a:hover{
    background-color: #fff;
    color: #000000;
}
